.header-container {
    position: relative;
}

.header-title {
    height: 2.25rem;
    font-size: 1.5rem;
}

.header-game {
    font-size: .75rem;
    padding-right: 1rem;
}

.header-help {
    font-size: 1.25rem;
    padding-right: 1rem;
}
.header-help:hover {
    cursor: pointer;
    color: yellow;
}

.header-subtitle {
    height: 2rem;
    font-size: 1.25rem;
    text-align: center;
}

.header-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.subtitle-item.clickable {
    cursor: pointer;
    color: #6ec071;
}
.subtitle-item.clickable:hover {
    color: #dbefdc;
}
