.cmp-button-container {
    position: relative;
    padding: .125em;
}
.cmp-button {
    color: #265728;
    background-color: #6ec071;
    line-height: 1.5em;
    border: .0625em solid #265728;
    border-radius: .5em;
    cursor: pointer;
}
.cmp-button.disabled {
    background-color: lightgray;
    border-color: gray;
    color: gray;
    cursor: not-allowed;
}
.cmp-button:not(.disabled):hover, .cmp-button:not(.disabled).selected {
    color: #dbefdc;
    border-color: black;
    background-color: #1e461f;
}
.cmp-button:not(.disabled):hover .cmp-button-key, .cmp-button:not(.disabled).selected .cmp-button-key {
    color: black;
    border-color: black;
    background-color: gray;
}
.cmp-button-key {
    min-width: 1.4em;
    text-align: center;
    padding: 0 .25em;
    margin-left: .25em;
    line-height: 1.2;
    border: .0625em solid #265728;
    border-radius: .25em;
    color: #265728;
    background-color: lightgray;
    cursor: pointer;
}
.cmp-button-key.selected, .cmp-button-key:hover {
    color: black;
    background-color: gray;
    border-color: black;
}

.cmp-button.disabled .cmp-button-key {
    color: gray;
    background-color: lightgray;
    border-color: gray;
    cursor: not-allowed;
}

.cmp-button-txt {
    font-weight: bold;
    text-align: center;
    padding: 0 .5em;
}
