* { 
    box-sizing: border-box;
    letter-spacing: -.075em;
}

.fullviewheight { height: 100vh; background-color: #dbefdc; }
.fullheight { height: 100%; }

.arial { font-family: Arial, Helvetica, sans-serif; }
.arial-nw { font-family: "Arial Narrow"; }

.clr-red {
    color: red;
}