.w3-green-l5 {color:#000 !important; background-color:#f4faf4 !important}
.w3-green-l4 {color:#000 !important; background-color:#dbefdc !important}
.w3-green-l3 {color:#000 !important; background-color:#b7dfb8 !important}
.w3-green-l2 {color:#000 !important; background-color:#93cf95 !important}
.w3-green-l1 {color:#fff !important; background-color:#6ec071 !important}
.w3-green-d1 {color:#fff !important; background-color:#459c48 !important}
.w3-green-d2 {color:#fff !important; background-color:#3d8b40 !important}
.w3-green-d3 {color:#fff !important; background-color:#357a38 !important}
.w3-green-d4 {color:#fff !important; background-color:#2e6830 !important}
.w3-green-d5 {color:#fff !important; background-color:#265728 !important}
.w3-green-tab {color:#b7dfb8 !important; background-color:#163317 !important}

.w3-green-bg {background-color:green !important}
.w3-green-bg-l5 {background-color:#f4faf4 !important}
.w3-green-bg-l4 {background-color:#dbefdc !important}
.w3-green-bg-l3 {background-color:#b7dfb8 !important}
.w3-green-bg-l2 {background-color:#93cf95 !important}
.w3-green-bg-l1 {background-color:#6ec071 !important}
.w3-green-bg-d1 {background-color:#459c48 !important}
.w3-green-bg-d2 {background-color:#3d8b40 !important}
.w3-green-bg-d3 {background-color:#357a38 !important}
.w3-green-bg-d4 {background-color:#2e6830 !important}
.w3-green-bg-d5 {background-color:#265728 !important}

.w3-green-col {color:green !important}
.w3-green-col-l5 {color:#f4faf4 !important}
.w3-green-col-l4 {color:#dbefdc !important}
.w3-green-col-l3 {color:#b7dfb8 !important}
.w3-green-col-l2 {color:#93cf95 !important}
.w3-green-col-l1 {color:#6ec071 !important}
.w3-green-col-d1 {color:#459c48 !important}
.w3-green-col-d2 {color:#3d8b40 !important}
.w3-green-col-d3 {color:#357a38 !important}
.w3-green-col-d4 {color:#2e6830 !important}
.w3-green-col-d5 {color:#265728 !important}
.w3-green-col-d6 {color:#1e461f !important}
.w3-green-col-d7 {color:#163317 !important}
.w3-green-col-d8 {color:#102511 !important}

.w3-green-bdr {border-color:green !important}
.w3-green-bdr-l5 {border-color:#f4faf4 !important}
.w3-green-bdr-l4 {border-color:#dbefdc !important}
.w3-green-bdr-l3 {border-color:#b7dfb8 !important}
.w3-green-bdr-l2 {border-color:#93cf95 !important}
.w3-green-bdr-l1 {border-color:#6ec071 !important}
.w3-green-bdr-d1 {border-color:#459c48 !important}
.w3-green-bdr-d2 {border-color:#3d8b40 !important}
.w3-green-bdr-d3 {border-color:#357a38 !important}
.w3-green-bdr-d4 {border-color:#2e6830 !important}
.w3-green-bdr-d5 {border-color:#265728 !important}

.w3-green-light {color:#000 !important; background-color:#f4faf4 !important}
.w3-green-dark {color:#fff !important; background-color:#265728 !important}
.w3-green-action {color:#fff !important; background-color:#265728 !important}

.w3-green {color:#fff !important; background-color:#4caf50 !important}
.w3-text-green {color:#4caf50 !important}
.w3-border-green {border-color:#4caf50 !important}

.w3-hover-green:hover {color:#fff !important; background-color:#4caf50 !important}
.w3-hover-text-green:hover {color:#4caf50 !important}
.w3-hover-border-green:hover {border-color:#4caf50 !important}